<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>ShowHow</title>
</head>
<body>
    <div id="main">
        <div id="blob-top">
            <svg viewBox="0 0 200 200">
                <g transform="translate(100 100)">
                    <path fill="rgba(152, 113, 245, 1)" d="M44.3,-48C47.6,-40.9,33.8,-20.5,30.4,-3.4C27.1,13.8,34.2,27.5,30.8,43.2C27.5,58.9,13.8,76.5,4.6,71.9C-4.6,67.3,-9.100000000000001,40.5,-14.2,24.8C-19.200000000000003,9.100000000000001,-24.7,4.6,-29.4,-4.7C-34.2,-14.1,-38.2,-28.1,-33.1,-35.2C-28.1,-42.2,-14.1,-42.3,3.2,-45.5C20.5,-48.7,40.9,-55,44.3,-48Z"></path>
                </g>
            </svg>
        </div>
        <header>
            <h1 id="app-name">ShowHow</h1>
            <p id="motto">Fomentando ideias e encurtando distâncias.</p>
        </header>
        <section id="select-user-type-btns">
            <div class="user-type-btns" id="mentored-btn">
                <img src="/images/icons/mentored-btn.png" alt="" class="user-type-btn-icon">
                <p>MENTORIA</p>
            </div>
            <div class="user-type-btns" id="mentor-btn">
                <img src="/images/icons/mentor-btn.png" alt="" class="user-type-btn-icon">
                <p>MENTORAR</p>
            </div>
        </section>
    </div>
</body>
<script src="/scripts/main.js"></script>
</html>
