<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login | ShowHow</title>
</head>
<body>
    <main id="login-box">
        <h2 id="title">Login</h2>
        <form action="">
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Username">
            </div>
            <div class="input-field">
                <input type="email" name="email" id="email"
                    placeholder="E-mail">
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Senha">
            </div>
        </form>
        <footer id="create-account">
            <p>Não tem uma conta? <a href=""><strong>Crie uma.</strong></a> </p>
        </footer>
    </main>
</body>
</html>