@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}
#blob-top{
    position: absolute;
    top: -54vw;
    left: -10vh;
    width: 105%;
    height: 30%;
    transition: 0.s25s;
    transform: rotate(48deg);
}
#return{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
    left: 5px;
    z-index: 1;
    font-size: 50px;
    font-weight: 600;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
}
#login-box{
    display: inline-table;
    z-index: 2;
    position: fixed;
    border-radius: 8px;
    max-width: 350px;
    max-height: 400px;
    padding: 1.5rem;
    background: #8546eb;
    box-shadow: 5px 5px 15px #290047c2;
    transition: 0.25s ease-in-out;
}
form{
    display: flex;
    flex-direction: column;
}
#title{
    color: white;
    margin-bottom: 1rem;
}
#create-account, #create-account a{
    color: white;
    font-weight: 500;
    margin-top: 1rem;
}
.input-field input{
    background-color: #c779ffab;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    height: 40px;
    padding-left: 8px;
    border-radius: 1px;
}
.input-field textarea{
    background-color: #c779ffab;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    height: 40px;
    padding-left: 8px;
    border-radius: 1px;

    width: 280px; 
    height: 135px;
}
#login-box div:not(:last-child){
    margin-bottom: 6.5px;
}
.input-field input:focus{
    transition: 0.25s ease;
    outline-color: #c779ff;
    outline-style: solid;
    outline-width: medium;
}
.input-field textarea:focus{
    transition: 0.25s ease;
    outline-color: #c779ff;
    outline-style: solid;
    outline-width: medium;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #c900fb7e inset !important;
    -webkit-text-fill-color: white !important;
}
::placeholder { 
    color: white;
    opacity: 80%;
    font-weight: 400;
}
:-ms-input-placeholder {
    color: white;
    
}
::-ms-input-placeholder {
    color: white;
}
#login-box input[type="button"]{
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 3px;
    outline: none;
    background-color: #3eb975;
    color: white;
    box-shadow: 0 0 8px #5b705dd2;
}
span{
    cursor: pointer;
    text-decoration: underline;
}
#blob-bottom{
    position: absolute;
    bottom: -65vw;
    right: -25vh;
    width: 125%;
    height: 60%;
    transition: 0.s25s;
    transform: rotate(228deg);
}
